//font-family: 'Anton', sans-serif;
//font-family: 'Barlow Condensed', sans-serif;
@import './variables.less';
body *{
    font-family: 'Barlow Condensed', sans-serif;
}

body,html{
    height: 100% !important;
}

body{
    .wrapper,.innerWrapper{
        position: relative;
        width: 100%;
        height: 100%;
        top:0px;
        left:0px;
        margin:0px;
        padding:0px;
    }
}
.brand-header{
    font-family: 'Anton', sans-serif;
    padding:20px 10px;
    letter-spacing: 0.05rem;
    color:rgba(255,255,255,1);
    position: fixed;
    top:0px;
    left:0px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    width: 100%;
    height:@headerHeight;
    overflow: hidden;

    h3{
        font-family: 'Anton', sans-serif;   
        display:inline-block;
        width: ~"calc(100% - 30px)";     
    }
}

.clickable{
    cursor: pointer;
}

.sidepanel{
    position: fixed;
    top:0px;
    right:0px;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.mainContent{
    top:@headerHeight;
    position: relative;
    position: relative;
    height: calc(100% - @headerHeight);
}

.full-width-image{
    width:auto;
    height:100%;
}

input{
    
    &.transinput{
        background:rgba(255,255,255,0.2);
        border:none;
        color:white;
        &:focus{
            border:none;
            background:rgba(0,0,0,0.3);
            color:white;
        }
    }
    
}

.appear-slide-up{
    animation:appear-slide-up 0.5s ease-out;
   
    
}

@keyframes appear-slide-up {
    from {
        opacity: 0;
        transform:translateY(50px);
    }
    to {
        opacity: 1;
        transform:translateY(0px);
    }
}  

@import 'slideshow.less';
@import 'icon.less';