//font-family: 'Anton', sans-serif;
//font-family: 'Barlow Condensed', sans-serif;
body *{
    font-family: 'Barlow Condensed', sans-serif;
}
.brand-logo{
    font-family: 'Anton', sans-serif;
    font-size:4rem; 
    padding:20px 10px;
    letter-spacing: 0.05rem;
    text-align:center;
    color:rgba(255,255,255,1);
}

.mainContent{
    position: relative;
}

.full-width-image{
    width:auto;
    height:100%;
}

@import 'slideshow.less';