html,body{
    padding: 0px;
    margin:0px;
    background:#212123;
}
*{
    color:white;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    
}

.rootPacket{
    background:#212123;
}

header{
background: #c745fe;
background: -moz-linear-gradient(-45deg,  #c745fe 0%, #5855de 100%);
background: -webkit-linear-gradient(-45deg,  #c745fe 0%,#5855de 100%);
background: linear-gradient(135deg,  #c745fe 0%,#5855de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c745fe', endColorstr='#5855de',GradientType=1 );

}

header h1,h3{
    padding:0px;
    margin:0px;
}

header h1{
  padding:15px;  
}